body{
    margin:0px;
    font: 14px/22px Helvetica,Arial,sans-serif;
    background-color:#F9F0FA;
    color:#313233;
}

a {
    font-weight:bold;
    text-decoration:none;
}

input {
    font-size:20px;
    padding:2px;
    border:1px solid #D1D2D3;
}

div#header {
    width:100%;
    background-color:#313233;
    border-bottom:2px dashed #3DAFDF;
}

div#header a {
    color:#e1e2e3;
}

div#header-content {
    width:960px;
    margin: 0px auto;
    color:#e1e2e3;
    position:relative;
}

div#logo {
    font-weight:bold;
    font-size:26px;
    line-height:80%;
    padding:10px 0px;
}

div#top-menu {
    position:absolute;
    bottom:0px;
    right:0px;
    padding-bottom:10px;
}

div#footer {
    width:100%;
    border-top: 1px solid #D1D2D3;
}

div#footer-content{
    width:960px;
    margin: 0px auto;
    color:#919293;
    font-size:12px;
    text-align:right;
}

div#footer-content ul{
    list-style:none;
}

div#footer-content a{
    color:#919293;
}

div#main{
    min-height:550px;
    background-color:#EFEFE9;
    margin:0px;
    padding:20px 0;
    border-top:2px dashed #3DAFDF;
}

div#main-content {
    width:960px;
    margin: 0px auto;
}

div#main-content a{
    color:#313233;
}

div#login-box {
    width:300px;
    margin:250px auto;
}

div#login-box .field{
    width:100%;
}

input.login-button, input#submit-search{
    color:#3DAFDF;
    margin-right:0px;
    margin-left:0px;
}

div.pane {
    width:459px;
    padding:20px 10px 20px 10px;
    margin-bottom:30px;
    position:relative;
}

div#left-pane {
    border-right:1px solid #D1D2D3;
    min-height:500px;
}

form#ofm-search-form {
    margin-bottom:20px;
}

input#query {
    width:98%;
}

div#search-results div.track {
    padding:10px;
    border-bottom:1px solid #D1D2D3;
}

div.track-name{
    font-size:20px;
    font-weight:bold;
}

div.create-button-div {
    padding-top:5px;
    padding-left:5px;
    position:relative;
}

div.track-info {
    width:70%;
}

img.small-thumb{
    width:50px;
    display:block;
}

div.help {
    font-size:12px;
    background-color:#FAF7EB;
    border:1px solid #F0E7C2;
    padding:5px;
//    margin-top:0;
    line-height:18px;
}

div.search-tooltip {
    width:150px;
    position:absolute;
    left:77px;
    top:12px;
}

div.search-tooltip div.arrow {
    content: " ";
    border-color: transparent #FAF7EB transparent transparent;
    border-style: solid;
    border-width: 10px;
    height:0;
    width:0;
    position:absolute;
    top:0px;
    left:-19px;
}

div.search-tooltip div.arrow-border {
  border-color: transparent #F0E7C2 transparent transparent;
  border-style: solid;
  border-width: 10px;
  height:0;
  width:0;
  position:absolute;
  top:0px;
  left:-21px;
}

div.empty-tooltip {
    position:absolute;
    right:20px;
}

div.empty-tooltip div.arrow {
    content: " ";
    border-color: transparent transparent transparent #FAF7EB;
    border-style: solid;
    border-width: 10px;
    height:0;
    width:0;
    position:absolute;
    top:6px;
    right:-19px;
}

div.empty-tooltip div.arrow-border {
  border-color: transparent transparent transparent #F0E7C2;
  border-style: solid;
  border-width: 10px;
  height:0;
  width:0;
  position:absolute;
  top:6px;
  right:-20px;
}

div.clear-bkg {
    border: 1px solid #D1D2D3;
    background-color:#F9F0FA;
    padding:5px;
}

div.new-page div.track-summary {
    margin-top:20px;
}

div.track-summary div.track-info {
    width:63%;
}

td.label {
    font-weight:bold;
    text-align:right;
    width:112px;
}

hr.seperator {
    width:434px;
    margin:10px auto;
    height: 1px;
    background-color:#D1D2D3;
    border:0px;
}

div.page-summary {
    margin-top:20px;
    padding-bottom:0px;
}

div.manage-links {
    font-size:12px;
    position:aboslute;
    color:#D1D2D3;
}

div#pending{
    background-color:#EFEFE9;
    margin-left:auto;
    margin-right:auto;
    opacity:0.5;
    position:fixed;
    top:83px;
}

div#pending img{
    position:fixed;
    padding-left:-16px;
    padding-top:-16px;
}
