body {
    background-color:#000000;
    background-repeat:no-repeat;
    background-size:100%;
    font: 14px/22px Helvetica,Arial,sans-serif;    
    color:#ffffff;
    padding:70px;
}

input[type='text'] {
    font-size:16px;
    padding:2px;
    border:1px solid #D1D2D3;
}

div#edit-links input {
    width:300px;
    margin:5px 5px;
}

h1#track-title {
    font-size:50px;
    margin-bottom:20px;
}

h2#artist-name {
    font-size:30px;
}

.text-shadow {
    text-shadow:#313233 2px 2px 2px;
}

div#player {
    position:fixed;
    bottom:30px;
    left:30px;
    padding:10px;
}

div#player a{
    margin:0px;
    padding:0px;
}

div.widget {
    border-radius:5px;
    background-color:rgba(0,0,0,0.5);
    border:2px solid #313233;
}

div#play-container {
    position:fixed;
    bottom:30px;
    left:30px;
    padding:10px 6px 10px 10px;
//    width:57px;
//    height:57px;
//    opacity:0.5;
}

div#social-container {
    position:fixed;
    bottom:30px;
    right:30px;
    padding:10px 5px 10px 10px;
//    width:57px;
//    height:57px;
//    opacity:0.5;
}

div#social {
    position:fixed;
    bottom:30px;
    right:30px;
}

iframe#upload_target {
    width:0;
    height:0;
    border:0px solid #fff;
}

div#upload {
    position:fixed;
}

input#upload {
    border:0px;
    background:transparent;
    width:40px;
    height:40px;
    position:fixed;
    top:0;
    left:0;
    background-position: -200px 0;
    background-image:url(/images/sprite.png);
    margin-left:-20px;
    margin-top:-20px;
}

div#upload-tooltip {
    position:fixed;
    color:#313233;
    width:185px;
    margin-left:-95px;
    margin-top:60px;
}

div#upload-tooltip div.arrow{
    content: " ";
    border-color: transparent transparent #FAF7EB transparent;
    border-style: solid;
    border-width: 20px;
    height:0;
    width:0;
    position:absolute;
    left:75px;
    top:-40px;
}

div#upload-tooltip div.arrow-border {
  border-color: transparent transparent #F0E7C2 transparent;
  border-style: solid;
  border-width: 20px;
  height:0;
  width:0;
  position:absolute;
  left:75px;
  top:-41px;
}


div#edit-links {
    margin-bottom:85px;
//    width:300px;
    position:relative;
    color:#313233;
}

div#edit-links div.arrow {
    content: " ";
    border-color: #FAF7EB transparent transparent transparent;
    border-style: solid;
    border-width: 20px;
    height:0;
    width:0;
    position:absolute;
    right:60px;
    bottom:-40px;
}

div#edit-links div.arrow-border {
  border-color: #F0E7C2 transparent transparent transparent;
  border-style: solid;
  border-width: 20px;
  height:0;
  width:0;
  position:absolute;
  right:60px;
  bottom:-41px;
}

input#page_submit {
    position:fixed;
    top:30px;
    right:30px;
}

div#title {
    position:fixed;
//    top:30px;
//    left:30px;
}

div#title-tooltip {
    margin-bottom:85px;
    width:100px;
    position:relative;
    bottom:-30px;
    color:#313233;
}

div#title-tooltip div.arrow {
    content: " ";
    border-color: transparent transparent #FAF7EB transparent;
    border-style: solid;
    border-width: 20px;
    height:0;
    width:0;
    position:absolute;
    right:60px;
    bottom:28px;
}

div#title-tooltip div.arrow-border {
  border-color: transparent transparent #F0E7C2 transparent;
  border-style: solid;
  border-width: 20px;
  height:0;
  width:0;
  position:absolute;
  right:60px;
  bottom:28px;
}

div#like {
    position:fixed;
    right:30px;
    top:30px;
}

div#like iframe{
    width:50px;
    height:70px;
}

div.draggable:hover {
    cursor:move;
}

.faded {
    opacity:0.5;
}

.faded:hover {
    opacity:1;
}

input#upload:hover { 
    background-position: -200px -40px; 
}
