html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
}

.blue-text {
    color:#3DAFDF;
}

.fright {
    float:right;
}

.fleft {
    float:left;
}

.fclear {
    clear:both;
}

.align-text-right{
    text-align:right;
}

.align-text-center{
    text-align:center;
}

.hidden {
    display:none;
}

.istok {
    font-family: 'Istok Web', sans-serif;
}

@font-face {
  font-family: 'Istok Web';
  font-style: normal;
  font-weight: 700;
  src: local('Istok Web Bold'), local('IstokWeb-Bold'), url('/IstokWeb-Bold.woff') format('woff');
}
@font-face {
  font-family: 'Istok Web';
  font-style: normal;
  font-weight: 400;
  src: local('Istok Web Regular'), local('IstokWeb-Regular'), url('/IstokWeb-Regular.woff') format('woff');
}

a.button {
    border:none;
    outline:none;
    display:block;
    background-color:transparent;
    background-image:url(/images/sprite.png);
    margin-right:5px;
    padding:0;
}

a.button.tiny {
    width:16px;
    height:16px;
}

a.button.large {
    width:40px;
    height:40px;
}

a.button.medium {
    width:30px;
    height:30px;
}

a.button.loading.tiny { background-position: -448px -80px; }
a.button.play.tiny { background-position: -336px -80px; }
a.button.play.tiny:hover { background-position: -336px -96px; }
a.button.paused.tiny { background-position: -352px -80px; } 
a.button.paused.tiny:hover { background-position: -352px -96px; }
a.button.pause.tiny { background-position: -368px -80px; } 
a.button.pause.tiny:hover { background-position: -368px  -96px; }
a.button.create-page.large { background-position: -200px 0; }
a.button.create-page.large:hover { background-position: -200px -40px; }
a.button.loading.large { background-position: -480px 0; }
a.button.play.large { background-position: 0px 0px; }
a.button.play.large:hover { background-position: 0px -40px; }
a.button.pause.large { background-position: -80px 0px; }
a.button.pause.large:hover { background-position: -80px -40px; }
a.button.paused.large { background-position: -40px 0px; }
a.button.paused.large:hover { background-position: -40px -40px; }
a.button.facebook  { background-position: -340px 0; } 
a.button.facebook:hover { background-position: -340px -30px; }
a.button.twitter   { background-position: -370px 0; } 
a.button.twitter:hover  { background-position: -370px -30px; }
a.button.myspace   { background-position: -400px 0; } 
a.button.myspace:hover  { background-position: -400px -30px; }
a.button.website {
    background-image:url(/images/website.png);
}
div#search-player {
    position:absolute;
    top:-1000px;
}


div#pending{
    background-color:#EFEFE9;
    margin-left:auto;
    margin-right:auto;
    opacity:0.5;
    position:fixed;
    top:83px;
}

div#pending img{
    position:fixed;
    padding-left:-16px;
    padding-top:-16px;
}

div.help {
    font-size:12px;
    background-color:#FAF7EB;
    border:1px solid #F0E7C2;
    padding:5px;
//    margin-top:0;
    line-height:18px;
    border-radius:2px;
}

.comfortaa {
    font-family: 'Comfortaa', sans-serif;
}