<div id="social" class="fright">
  <%= link_to("", @page.myspace, :class => "button medium myspace
  fright", :id => "myspace-btn", :target => 'new') if @page.myspace %>
  <%= link_to("", @page.website, :class => "button medium website
  fright", :id => "website-btn", :target => 'new') if @page.website %>
  <%= link_to("", @page.twitter_link, :class => "button medium twitter
  fright", :id => "twitter-btn", :target => 'new') if @page.twitter %>
  <%= link_to("", @page.facebook, :class => "button medium facebook
  fright", :id => "facebook-btn", :target => 'new') if @page.facebook %>
</div>
