<html>
<head>
  <%= javascript_include_tag "jquery-1.6.2.min" %>
</head>
<body>
<%= form_tag '/upload', :multipart => true, :target =>
'upload_target', :id => 'upload_form' do %>
<%= file_field :picture, :file %>
<% end %>
<script language="javascript" type="text/javascript">
  $(document).ready(
  function(){
  $('input#picture_file').bind('change', function(){
  $('form#upload_form').trigger('submit');
  });
  });
</script>
</body>
</html>
