<div id="footer">
  <div id="footer-content">
    <ul>
      <li><%= link_to 'official.fm', 'http://www.official.fm', :target => 'new' %></li>
      <li><%= link_to '@neutralino1', 'http://twitter.com/neutralino1', :target => 'new' %></li>
    </ul>
  </div>
</div>
