<div id="header">
  <div id="header-content">
    <div id="logo" class="istok fleft">Official.fm</br>FULL</br>SCREEN
    </div>
    <div id="top-menu" class="fright">
      <%= link_to 'Log out', 'javascript://', :id => 'logout', :class =>
      "#{logged_in? ? '' : 'hidden'}" %>
    </div>
    <div class="fclear"></div>
  </div>
</div>
